<!DOCTYPE html>
<html>
  <head>
    <title>Bem-vindo ao E-commerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation-->
        <%= render 'layouts/store/nav' %>
        <!-- Header-->
        <%= yield %>
        <!-- Footer-->
        <%= render 'layouts/store/footer' %>
  </body>
</html>
